* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: arial;
}

body,
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  min-height: 100vh;
}

body {
  padding: 56px;
}

form {
  display: flex;
  gap: 1rem;
}

input {
  width: 500px;
  height: 60px;
  padding-left: 1rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  border: none;
  background-color: rgb(245, 245, 245);
}

input:focus {
  outline: 2px solid rgb(247, 82, 219);
}

button {
  padding: 0.75rem 2rem;
  border: none;
  border-radius: 0.5rem;
  background-color: rgb(247, 82, 219);
  color: white;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: 300ms ease-in-out;
}

button:hover {
  filter: brightness(0.9);
}

ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  width: 50%;
  list-style: none;
  width: 650px;
}

li {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  background-color: rgb(245, 245, 245);
  border-radius: 8px;
  overflow: hidden;
  animation: smoothShow 300ms;
}

img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
}

h2 {
  color: rgb(247, 82, 219);
}

h1 {
  color: #333333;
}

p {
  color: rgb(66, 66, 66);
  line-height: 150%;
}

@keyframes smoothShow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
