@import url("./header.css");
@import url("./footer.css");

* {
  vertical-align: baseline;
  font-weight: inherit;
  font-family: "Impact", "Haettenschweiler", "Arial Narrow Bold", "sans-serif";
  font-style: inherit;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
}
