h1 {
  font-size: 3rem;
}

h2 {
  margin: 1.25rem 0;
}

.links {
  width: 12.5rem;
  display: flex;
  justify-content: space-between;
  font-size: 1.25rem;
}

a {
  color: white;
}

.card {
  height: 26.25rem;
  width: 21.875rem;
  margin: 1.25rem 0;
  font-size: 1.25rem;
  border: 3px solid rgb(255, 255, 255);
  border-radius: 10px;
  background-image: linear-gradient(rgb(226, 226, 255), rgb(175, 175, 175));
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card:hover img {
  box-shadow: 0 0 37px 3px rgba(0, 0, 0, 0.75);
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: rgb(224, 224, 224);
}

img {
  height: 12.5rem;
  width: 12.5rem;
  border-radius: 20px;
  margin: 1.25rem 0;
}

.saleOff {
  position: relative;
  bottom: -1.25rem;
  width: 100%;
  text-align: center;
  background-color: brown;
  color: white;
  font-size: 2rem;
}

.saleNone {
  display: none;
}
