@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("./reset.css");
@import url("./forms.css");
@import url("./modal.css");

* {
  font-family: "Inter", sans-serif;
}

:root {
  --color-primary: #1875d1;
  --color-accent: #0000e5;
  --color-gray-1: #191c1f;
  --color-gray-2: #212529;
  --color-gray-3: #343a40;
  --color-gray-4: #adb5bd;
  --color-gray-5: #ced4da;
  --color-gray-6: #edf2ff;
}
