dialog {
  width: 360px;
  padding: 30px;
  border: solid 2px var(--color-accent);
  background-color: var(--color-gray-2);
}

dialog::backdrop {
  background-color: rgba(25, 28, 31, 0.8);
}

.modal-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.modal-container > p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--color-gray-5);
}

.modal-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-title > h5 {
  font-weight: 600;
  color: var(--color-gray-6);
}

#closeModal {
  color: var(--color-gray-4);
  padding: 12px;
  cursor: pointer;
  padding: 5px 10px;
  background-color: var(--color-gray-3);
  border-radius: 4px;
}

input {
  height: 40px;
  padding-left: 10px;
  background-color: var(--color-gray-1);
  border: 1px solid transparent;
  color: var(--color-gray-4);
}

input::placeholder {
  font-size: 15px;
  font-weight: 400;
  color: var(--color-gray-4);
}

input:hover {
  background-color: var(--color-gray-3);
  color: var(--color-gray-4);
}

input:focus {
  background-color: var(--color-gray-2);
  outline: none;
  border: 1px solid var(--color-primary);
  color: var(--color-gray-4);
}
