.logo-container {
  display: flex;
  justify-content: center;
}

.logo {
  width: 14.688rem;
  height: auto;
  margin-top: 1.875rem;
  margin-bottom: 3.125rem;
}

.pokedex-container {
  display: flex;
  justify-content: center;
}

.pokedex {
  position: relative;
  background-image: url("../assets/pokedex.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 32rem;
  height: 28.625rem;
}

#pokedex-top {
  height: 13rem;
  margin-left: 5rem;
  margin-right: 4.688rem;
  margin-top: 0.938rem;
}

#pokedex-top > h1 {
  height: 1.875rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.125rem;
  border-bottom: 2px solid var(--color-red-1);
  text-transform: capitalize;
}

.pokedex-info-container {
  height: 11.063rem;
  width: 100%;
  display: flex;
}

.container-left {
  width: 34%;
  height: 100%;
  background-color: var(--color-gray-2);
  border-right: 2px solid var(--color-red-1);
  padding: 0.188rem;
}

.height-weight {
  display: flex;
  justify-content: space-between;
}

.img-div {
  height: 10rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/pokeball.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.img-div > img {
  width: auto;
}

.container-right {
  height: 100%;
  width: 66%;
  background-color: var(--color-gray-3);
}

.container-right > h5 {
  height: 1.875rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.125rem;
  border-bottom: 2px solid var(--color-red-1);
}

.container-right > p {
  width: 100%;
  height: 9.25rem;
  padding: 0.188rem;
}

.pokedex-bottom {
  height: 10.438rem;
  margin-left: 5.063rem;
  margin-right: 4.688rem;
  margin-top: 1.438rem;
}

.pokedex-bottom > form {
  height: 1.875rem;
  border-bottom: 2px solid var(--color-red-1);
  padding: 0.188rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#pokemon-search {
  background-color: var(--color-gray-4);
  width: 19.688rem;
  color: var(--color-gray-1);
  padding: 0.125rem;
}

#pokemon-search-button {
  background-color: var(--color-gray-4);
  border-radius: 50%;
  height: 1.5rem;
  width: 1.5rem;
  cursor: pointer;
}

#pokemon-search-button > i {
  color: var(--color-gray-1);
}

.pokedex-list {
  display: flex;
  width: 22.313rem;
  height: 8.625rem;
}

.pokemon-list-container {
  width: 128%;
}

#pokemon-list {
  display: flex;
  flex-wrap: wrap;
}

#pokemon-list > li {
  width: 3rem;
  height: 2.875rem;
  border-right: 1px solid var(--color-gray-4);
  border-bottom: 1px solid var(--color-gray-4);
}

#pokemon-list > li > button {
  width: 100%;
  height: 100%;
  background: none;
  cursor: pointer;
}

#pokemon-list > li > button > img {
  width: 100%;
  height: 100%;
}

.no-border-bottom {
  border-bottom: none !important;
}

.pokemon-browse {
  height: 100%;
  width: 8%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#back-button,
#next-button {
  background-color: var(--color-gray-4);
  width: 1.059rem;
  height: 3.125rem;
  cursor: pointer;
  border-radius: 2px;
}

#back-button > i,
#next-button > i {
  color: var(--color-gray-1);
}
